body{
    /* background-color: black; */
    margin: 0;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
.navbar{
   width: 1140px;
   max-width: 80%;
   height: 50px;
   margin: auto;
   font-size: 20px;
   display: flex;
   gap: 20px;
   align-items: center;
   position: relative;
   z-index: 100;

}
.navbar a:hover{
    cursor: pointer;
}
.main{
    height: 100vh;
    width: 100vw;
    margin-top: -50px;
    overflow: hidden;
    position: relative;
}
.item{
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0 0 0 0;
}
.main .content .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main .content .item .description{
    position: absolute;
    top: 10%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
}
.main .content .item .description .title,.main .content .item .description .carname{
    font-weight: bold;
    font-size: 5em;
}
.main .content .item .description .carname{
    color: red;
}
.main .content .item .description .button{
    margin-top: 20px;
    height: 40px;
    background-color: transparent;
    border: none;
    color: white;
    border: 1px solid white;
    
}
.main .content .item .description .button:hover{
    background-color: red;
}
.selectors{
    position: absolute;
    z-index: 100;
    width: max-content;
    bottom: 50px;
    display: flex;
    gap: 20px;
    left: 50%;
}
.selectors .item{
    height: 200px;
    width: 120px;
    flex-shrink: 0;
    position: relative;
}
.selectors .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.selectors .item .carname{
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
.main .change{
    position: absolute;
    top: 55%;
    left: 20%;
    display: flex;
    gap: 10px;
    z-index: 200;

}
.main .change button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #eee4;
    color: white;
    font-weight: bold;
    font-size: large;
    transition: 0.5s;
    
}
.main .change button:hover{
    background-color:white;
    color: black;
}
.main .content .item:nth-child(1){
    z-index: 1;
}
.main .content .item:nth-child(1) .title,
.main .content .item:nth-child(1) .carname,
.main .content .item:nth-child(1) .topic,
.main .content .item:nth-child(1) .button{
    animation: slide 0.5s 1s linear 1 forwards;

}
@keyframes slide{
    from{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    }
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
.main .content .item:nth-child(1) .title{
    animation-delay: 1.2s;
}
.main .content .item:nth-child(1) .carname{
    animation-delay: 1.4s;

}
.main .content .item:nth-child(1) .topic{
    animation-delay: 1.6s;
}
.main .content .item:nth-child(1) .button{
    animation-delay: 1.8s;
}
.main.next .content .item:nth-child(1) img{
  
    animation: resize 1s linear 1 forwards;
}
@keyframes resize{
    from{
        height: 200px;
        width: 120px;
        position: absolute;
        left: 50%;
        border-radius: 20px;
        bottom: 50px;
       

    }
    to{
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
}
.main.next .selectors .item:nth-last-child(1){
    animation: selectors 1s linear 1 forwards;
}
@keyframes selectors{
    from{
        width: 0;
        overflow: hidden;
    }
    to{
        width: 120px;
    }
}
.main.next .selectors{
    animation: moveselectors 1s linear 1 forwards;
}
@keyframes moveselectors{
    from{
        transform: translateX(150px);
    }
    to{
        transform: translateX(0);
    }
}
.main.prev .content .item:nth-child(2){
    z-index: 200;
}
.main.prev .content .item:nth-child(2) img{
    animation: prev 0.5s linear 1 forwards;
}
@keyframes prev{
    from{
        position: absolute;
        left: 0;
        bottom: 0;
    }
    to{
        position: absolute;
        left: 50%;
        width:120px;
        height: 200px;
        bottom: 50px;
        border-radius: 20px;
    }
}
.main.prev .selectors .item:nth-child(1){
    animation: selectors 2s linear 1 forwards;
}
.main.prev .content .item:nth-child(2) .title,
.main.prev .content .item:nth-child(2) .carname,
.main.prev .content .item:nth-child(2) .topic,
.main.prev .content .item:nth-child(2) .button{
    animation: removecontent 1s linear 1 forwards;

}
@keyframes removecontent{
    to{
        transform: translateY(-150px);
        filter:blur(20px);
        opacity: 0;
    }
}
